*{
    box-sizing: border-box;
    font-family: Arial, Helvetic;
    margin: 0;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

/** box1 **/
.amazon_logo{
    height: 50px;
    width: 100px;
    align-items: center;

}
.logo{
    background-image: url("Images/amazon_logo.png");
    width: 100px;
    height: 50px;
    background-size: cover;
    
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid aliceblue;
}

/** box2 **/
.location{
    padding: 5px;

}
.add-first{
    font-size: 0.70rem;
    color: #cccccc;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.icon{
    display: flex;
    align-items: center;
}
/** box3 **/

.nav-search{
    width: 620px;
    height: 40px;
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange ;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    border: none;
    font-size: 1rem;
    width: 100%;
    
}
.search-icon{
    background-color: rgb(255, 174, 0);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/** box4 **/
.nav-signin{
    padding: 5px;   
}

.signin{
    font-size: 0.7rem;
}

.account{
    font-weight: 700;
    font-size: 0.85rem;
    line-height: 1.5;
}

/** box5 **/
.nav-return{
    padding: 5px;
}

/** box6 **/
.nav-cart i{
    font-size: 1.5rem;
}

.nav-cart{
    font-weight: 700;
    font-size: 0.85rem;
}

/** panel **/
.nav-panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    font-size: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    padding: 5px;
}
.panel-ops{
    display: flex;
    width: 75%;

}
.panel-ops p{
    margin-left: 5px;
    font-size: 0.85rem;
    padding: 5px;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 5px;

}

/** hero-section **/
.hero-section{
    background-image: url("Images/hero_section.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.hero{
    width: 97%;
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0.9rem
}
.hero a{
    color: #007185;
}

/** shop-section **/
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 410px;
    width: 24%;
    background-color: white;
    margin-top: 13px;
    margin-bottom: 10px;
    padding: 20px 0px 15px;
} 
.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 0.80rem;
    margin-bottom: 0.80rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
.box-content h2{
    font-size: 21px;
}

/** products slider section **/
.product-slider{
    background-color: #fff;
    margin: 0 13px;
    padding: 20px;
    margin-bottom: 15px;
}

.product-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}

.product-slider .products .img{
    max-width: 200px;
    max-height: 200px;
}

.product-section{
    background-color: #e2e7e6;
}
/** footer **/
footer{
    margin-top: 15px;
}
.panel1{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    height: 50px;
}
.panel2{
    background-color: #191f29;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    color: white;
    font-size: 1rem;
    line-height: 20px;
}
.panel2 li{
    list-style-type: none;
}
.panel2 li a{
    font-size: 0.85rem;
    display: block;
    margin-bottom: 8px;
    color: #dddddd;
}
.panel2 p{
    font-weight: 500;
    margin-bottom: 10px;
}

.panel3{
    background-color: #191f29;
    border-top: 0.3px solid #dddddd;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("Images/amazon_logo.png");
    width: 100px;
    height: 50px;
    background-size: cover;
}

.panel4{
    height: 70px;
    background-color: #0f1111;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 15px;
}
.p1{
    padding-bottom: 5px;
}


    